/* Importar Inclusive Sans */
@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&amp;display=swap');

/* RESET BÁSICO */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: #ffffff;
  font-family: 'Inclusive Sans', sans-serif;
  color: #536878;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
}

#main-container {
  width: 100%;
  max-width: 480px;
  /* Ancho Beacons */
  text-align: center;
}

/* CABECERA */
.header-profile {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-svg {
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
}

.profile-title {
  font-size: 1.3rem;
  color: #6082B6;
  font-weight: 700;
  margin-bottom: 8px;
}

.profile-desc {
 
  margin-bottom: 20px;
  line-height: 1.4;
}

/* MENÚ SOCIAL */
.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.social-links a {
  text-decoration: none;
  color: #FEEEE7;
  font-size: 2rem;
  transition: transform 0.2s;
}

.social-links a:hover {
  transform: scale(1.1);
}

/* BOTONES (POSTS) */
.post-item {
  margin-bottom: 16px;
  width: 100%;
}

.link-button {
  display: block;
  background: #ffffff;
  border: 2px solid #6082B6;
  /* Estilo minimalista */
  font-size: 1.2em;
  padding: 16px;
  border-radius: 12px;
  text-decoration: none;
  color: #6082B6;
  transition: all 0.3s ease;
  margin-bottom: 16px;
  width: 100%;
}

.link-button:hover {
  background: #6082B6;
  color: #ffffff;
}

.btn-title {
  display: block;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 4px;
}

.btn-subtitle {
  display: block;
  font-size: 13px;
  opacity: 0.8;
}